extends layout

block content
    include pages/d3.html
    h1= title
    p Welcome to #{title}
    button#showdialog.btn.btn-primary click me
    #projectDialog
        #myfirstchart(style='height:250px')

    script(type='text/javascript').
        $(document).ready(function(){
            ToDo.Main().init();
        });
