doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bower_components/morris.js/morris.css')
        script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript' src='/bower_components/raphael/raphael-min.js')
        script(type='text/javascript' src='/bower_components/morris.js/morris.js')
        script(type='text/javascript' src='/javascripts/todo.js')

    body
        block content
