<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angulardemo</title>
</head>
<body ng-app="houseinfo">
<div ng-controller="houseinfocontroller">
    <div>请选择区域：</div>
    <div>

        <select ng-options="region for region in regions track by index" ng-model="selectedregion">
        </select>
    </div>
    </br>
    <div>请选择类型：</div>
    <div>
        <select ng-options="type for type in types track by index" ng-model="selectedtype">

        </select>
    </div>
    </br>
    <button type="button" ng-click="searchHouseInfo()">查询</button>
    <table>
        <tr>
            <td>address</td>
            <td>owner_name</td>
            <td>region</td>
            <td>type</td>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{item.address}}</td>
            <td>{{item.owner_name}}</td>
            <td>{{item.region}}</td>
            <td>{{item.type}}</td>
        </tr>
    </table>


</div>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/javascripts/controllers/houseinfo.js" ></script>
<script type="text/javascript" src="/javascripts/services/houseinfo-service.js"></script>

</body>
</html>