<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/bower_components/morris.js/morris.css'>
    <link rel='stylesheet' href='/bower_components/jquery-ui/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type='text/javascript' src='/bower_components/raphael/raphael-min.js'></script>
    <script type='text/javascript' src='/bower_components/morris.js/morris.js'></script>
    <script type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/bower_components/jquery-ui/jquery-ui.min.js'></script>
    <script type='text/javascript' src='/bower_components/angular-ui-router/release/angular-ui-router.js'></script>
    <script type='text/javascript' src='/bower_components/angular-resource/angular-resource.min.js'></script>
</head>
<body ng-app="toDoApp">
<div ui-view="header"></div>
<div ui-view="content"></div>
<div ui-view="footer"></div>

<script type="text/javascript" src="/javascripts/router.js" ></script>
<script type="text/javascript" src="/service/service.js" ></script>
<script type="text/javascript" src="/directive/directive.js" ></script>
<script type="text/javascript" src="/service/ToDoService.js" ></script>
<script type="text/javascript" src="/sections/index/IndexController.js" ></script>
<script type="text/javascript" src="/sections/header/HeaderController.js" ></script>
<script type="text/javascript" src="/sections/footer/FooterController.js" ></script>
<script type="text/javascript" src="/sections/about/AboutController.js" ></script>
</body>
</html>